<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Views</key>
  <array>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Подъём таза</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Lifts.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Подъём таза</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Lifts.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Подъём таза</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Lifts.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Обратные скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Reverse.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Обратные скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Reverse.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Обратные скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Reverse.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Обратные скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Reverse.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Боковые скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Side.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Боковые скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Side.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Боковые скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Side.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Боковые скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Side.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Диагональные скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Diagonal.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Диагональные скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Diagonal.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Диагональные скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Diagonal.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Диагональные скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Diagonal.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Прямые скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Basic.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Прямые скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Basic.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Прямые скручивания</string>
      <key>Time</key>
      <integer>30</integer>
      <key>Image</key>
      <string>Basic.png</string>
    </dict>
    <dict>
      <key>Name</key>
      <string>Скакалка</string>
      <key>Time</key>
      <integer>60</integer>
      <key>Image</key>
      <string>Skipping.png</string>
    </dict>
  </array>
</dict>
</plist>